doctype html
html
  head
    meta(charset="UTF-8")
    title Movie API
    link(rel="icon", type="image/x-icon", href="/public/img/favicons/favicon.ico")
    link(rel="apple-touch-icon", sizes="180x180", href="/public/img/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/public/img/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/public/img/favicons/favicon-16x16.png")
  body
    h1 Welcome to the Movie API
    p This is the home page of the Movie API. To access the documentation, click
      a(href="/documentation") here
